<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spock</title>
    <p>You played {{choice}}</p>
    <p>Computer played {{computer}}</p>
    <p>Result: {{result}}</p>
    <p><a href="../index">Play again</a></p>
</head>
<body>

</body>
</html>